html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  background: #f2f2f2;
}

.items {
  width: 700px;
  height: 600px;
  border: 3px solid #333;
  position: relative;
  background: white;
  overflow: hidden;

  display: grid;
  grid-template-columns: repeat(5, 80px);
  grid-auto-rows: 80px;
  gap: 15px;
  padding: 30px;

  user-select: none;
}

.item {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 24px;
  font-weight: bold;
  color: white;

  cursor: grab;
  border-radius: 5px;
}

.item:active {
  cursor: grabbing;
}

.item:nth-child(9n+1) { background: dodgerblue; }
.item:nth-child(9n+2) { background: goldenrod; }
.item:nth-child(9n+3) { background: teal; }
.item:nth-child(9n+4) { background: gold; }
.item:nth-child(9n+5) { background: cadetblue; }
.item:nth-child(9n+6) { background: tomato; }
.item:nth-child(9n+7) { background: lightcoral; }
.item:nth-child(9n+8) { background: darkslateblue; }
.item:nth-child(9n+9) { background: rebeccapurple; }